<div class="app-home container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{title}}</h3>  
           <!--  <ngb-carousel>  
                
                <ng-template ngbSlide *ngFor="let item of cards; let i = index">  
                     <img class="carousel-img" routerLink={{item.navigateUrl}} [src]="item.img" />   
                    <div class="carousel-caption">  
                        <h3>{{item.title}}</h3>  
                    </div>  
                </ng-template>   
            </ngb-carousel>  -->
        </div>
    </div>
</div>  



